body {
	background-color: #e8d20c;
	margin: 0px;
	color: #2D44f7;
}

.container {
	background-color: #e8d20c;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

header {
	background-color: #e8d20c;
	height: 100px;
	width: 700px;
}

h1 {
	color: #ffd801
	font-family: sans-serif;
	font-size: 63px;
	margin: 0px;
	text-align: center;
}

nav {
	background-color: #2D44F7;
	height: 50px;
	width: 700px;
}

td {
	color: #ffd801;
	font-family: sans-serif;
	font-size: 35px;
}

table {
	width: 700px;
}

a {
	color: #ffd801;
	text-decoration: none;
}

a:hover {
	color: red;
}

.main {
	background-color: #e8d20c;
	float: left;
	font-family: sans-serif;
	/*height: 595px;*/
	margin-bottom: 50px;
	width: 545px;
}

aside {
	background-color: dodgerblue;
	float: right;
	height: 595px;
	width: 150px;
}

footer {
	background-color: #2D44F7;
	clear: both;
	height: 100px;
	width: 700px;
}
